= @app_bin.to_param

%section.row
  %h2 Overview

  .row
    .col-md-10.col-md-offset-1
      #requests

%section.row
  %h2 Endpoints

  .row
    .col-md-10.col-md-offset-1
      %table#endpoints-index

  .row
    %h3 Endpoint Sample Profile

  .row
    .col-md-10.col-md-offset-1
      #endpoints-show

%section.row
  %h2 Background Jobs

  .row
    .col-md-10.col-md-offset-1
      %table#background-jobs-index

%section.row
  %h2 System Info

  .row
    .col-md-10-col-md-offset-1
      #mem-info
