Bin ID: #{@app_bin.to_param}

%section.row
  .row
    %h2 Overview

  .row
    .col-md-10.col-md-offset-1
      .load-overlay
        #requests

%section.row.table-section
  .row
    %h2 Endpoints

  .row
    .col-md-10.col-md-offset-1
      .load-overlay
        %table#endpoints-index

  .row.subsection
    %h3 Endpoint Sample Profile

  .row
    .col-md-10.col-md-offset-1
      .load-overlay
        #endpoints-show
          Select an endpoint from above to view a timing profile!

%section.row.table-section
  .row
    %h2 Background Jobs

  .row
    .col-md-10.col-md-offset-1
      .load-overlay
        %table#background-jobs-index

%section.row
  .row
    %h2 System Info

  .row
    .col-md-10.col-md-offset-1
      .load-overlay
        #mem-info
