%nav.navbar.navbar-default
  .container
    .navbar-header
      %a.navbar-brand{ href: root_path }
        .logo-navbar
    %ul.nav.navbar-nav.navbar-right
      %li= link_to 'Our story', '/story'
      %li= link_to 'GitHub', 'https://github.com/tracebin'
      %li= link_to 'New bin', app_bins_path, method: 'create'
