@import url('https://fonts.googleapis.com/css?family=Abel|Oxygen:400,700');

body {
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  color: #666;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oxygen', sans-serif;
  font-weight: 400;
  color: #888;
}

.front {
  box-sizing: border-box;
  padding: 50px 0;

  .hero {
    text-align: center;

    .row {
      & + .row {
        margin-top: 20px;
      }
    }
  }

  .tagline {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 1.4em;
  }

  form {
    margin: 25px 0 0 0;

    text-align: center;
  }

  input[type='submit'] {
    box-sizing: border-box;
    border: 1px solid #888;
    padding: 5px 20px;
    border-radius: 3px;

    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    color: #555;
    background: #ddd;

    &:hover {
      background: #eee;
    }
  }
}

.dataTable {
  width: 100%;

  td,
  th {
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 2px 5px;
  }

  th {
    border-bottom: 1px solid #ccc;
    padding: 4px 7x;
    font-size: 1.1em;
    font-weight: bold;

    &:after {
      top: 6px;
      font-size: .75em;
    }
  }

  tbody {
    tr {
      cursor: pointer;

      &.even {
        background: #f3f3f3;
      }

      td {
        &:first-child {
          font-weight: bold;
        }
      }
    }
  }
}
