@import url('https://fonts.googleapis.com/css?family=Abel|Oxygen:400,700|Roboto+Mono:400,400i,500,500i');
@import 'retina';

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  font-family: 'Abel', sans-serif;
  font-size: 16px;
  color: #666;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oxygen', sans-serif;
  font-weight: 400;
  color: #888;
}

section {
  & + section {
    border-top: 1px solid #eee;
  }
}

article {
  width: 800px;
  margin: 0 auto;
  font-size: 18px;

  p,
  ol,
  ul {
    margin-bottom: 20px;
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;
  }

  li {
    & + li {
      margin-top: 3px;
    }
  }

  strong {
    font-style: italic;
  }
}

footer {
  padding: 20px 0;
}

.content {
  flex: 1;
}

.logo-hero {
  width: 600px;
  height: 127px;
  margin: 0 auto;

  @include retina(image_path('tracebin_logo_hero.png'), 2, cover, center center no-repeat);
}

.navbar-brand {
  .logo-navbar {
    width: 133px;
    height: 28px;
    margin-top: -4px;

    @include retina(image_path('tracebin_logo_navbar.png'), 2, cover, center center no-repeat);
  }
}

.subsection {
  width: 95%;
  margin: 0 auto;
}

.table-section {
  padding-bottom: 25px;
}

.loading {
  width: 100%;
  height: 150px;
  background: #fff
              url(image_path('ajax-loader.gif'))
              center center no-repeat;
}

.front {
  box-sizing: border-box;
  margin-top: 225px;
  padding: 50px 0;

  .hero {
    text-align: center;

    .row {
      & + .row {
        margin-top: 20px;
      }
    }
  }

  .tagline {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 1.4em;
  }

  main {
    width: 60%;
    margin: 40px auto;
  }

  section {
    & + section {
      margin: 30px 0 0 0;
      border: none;
    }
  }

  p {
    font-size: 1.2em;
  }

  .center {
    text-align: center;
  }

  .row {
    & + .row {
      margin-top: 10px;
    }
  }

  input[type='submit'] {
    box-sizing: border-box;
    border: 1px solid #888;
    padding: 5px 20px;
    border-radius: 3px;

    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    color: #dfe1e3;
    background: #597085;

    &:hover {
      background: #9bb2c6;
    }
  }
}

.dataTable {
  width: 100%;

  td,
  th {
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 2px 5px;
  }

  th {
    border-bottom: 1px solid #ccc;
    padding: 4px 7x;
    font-size: 1.1em;
    font-weight: bold;

    &:after {
      top: 6px;
      font-size: .75em;
    }
  }

  tbody {
    tr {
      cursor: pointer;

      transition: background .25s ease-in-out;
      -moz-transition: background .25s ease-in-out;
      -webkit-transition: background .25s ease-in-out;

      &.even {
        background: #f3f3f3;
      }

      &:hover {
        background: #e1e1e1;
      }

      td {
        &:first-child {
          font-weight: bold;
        }
      }
    }
  }
}
