!!!5
%html
  %head
    %title Tracebin
    = csrf_meta_tags
    %script{ type: 'text/javascript', src: 'https://www.gstatic.com/charts/loader.js' }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    .container
      %main
        = yield
